In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
import seaborn as sns
import warnings 

warnings.filterwarnings("ignore")

In [2]:
#import and view build violations data
build_violations = pd.read_csv("datasets/building_violations.csv")
build_violations.head(4)

,case_no,status_dttm,status,code,value,description,violation_stno,violation_sthigh,violation_street,violation_suffix,...,ward,contact_addr1,contact_addr2,contact_city,contact_state,contact_zip,sam_id,latitude,longitude,location
0,V640594,2022-10-25 14:33:50,Open,105.1,NaN,Failure to Obtain Permit,266,NaN,Princeton,ST,...,01,266 PRINCETON ST,NaN,EAST BOSTON,MA,02128,113277,42.37992,-71.03004,"(42.379920000459, -71.03004000120775)"
1,V640442,2022-10-25 09:10:17,Open,102.8,NaN,Maintenance,98,NaN,Mount Vernon,ST,...,05,98 Mount Vernon St,NaN,Boston,MA,02108,98802,42.35781,-71.06906,"(42.35781000017358, -71.0690600012453)"
2,V640293,2022-10-24 15:41:12,Open,102.8,NaN,Maintenance,96,NaN,Mount Vernon,ST,...,05,96 MOUNT VERNON ST,NaN,BOSTON,MA,02108,98779,42.35781,-71.06896,"(42.35781000018984, -71.0689600011537)"
3,V640286,2022-10-24 15:15:50,Open,105.1,NaN,Failure to Obtain Permit,85,NaN,Como,RD,...,18,85 COMO RD,NaN,HYDE PARK,MA,02136,41543,42.24133,-71.14157,"(42.241329999816, -71.1415700008891)"

In [3]:
#adding the violation type column and Building violation values. 
#Since the whole df describes building violations, they can all fall under building violation when matching with rentsmart

build_violations['violation_type'] = 'Building Violations'

build_violations

,case_no,status_dttm,status,code,value,description,violation_stno,violation_sthigh,violation_street,violation_suffix,...,contact_addr1,contact_addr2,contact_city,contact_state,contact_zip,sam_id,latitude,longitude,location,violation_type
0,V640594,2022-10-25 14:33:50,Open,105.1,NaN,Failure to Obtain Permit,266,NaN,Princeton,ST,...,266 PRINCETON ST,NaN,EAST BOSTON,MA,02128,113277,42.379920,-71.030040,"(42.379920000459, -71.03004000120775)",Building Violations
1,V640442,2022-10-25 09:10:17,Open,102.8,NaN,Maintenance,98,NaN,Mount Vernon,ST,...,98 Mount Vernon St,NaN,Boston,MA,02108,98802,42.357810,-71.069060,"(42.35781000017358, -71.0690600012453)",Building Violations
2,V640293,2022-10-24 15:41:12,Open,102.8,NaN,Maintenance,96,NaN,Mount Vernon,ST,...,96 MOUNT VERNON ST,NaN,BOSTON,MA,02108,98779,42.357810,-71.068960,"(42.35781000018984, -71.0689600011537)",Building Violations
3,V640286,2022-10-24 15:15:50,Open,105.1,NaN,Failure to Obtain Permit,85,NaN,Como,RD,...,85 COMO RD,NaN,HYDE PARK,MA,02136,41543,42.241330,-71.141570,"(42.241329999816, -71.1415700008891)",Building Violations
4,V640272,2022-10-24 14:47:59,Open,907.8,NaN,Fire Protection Systems,27,NaN,Nay,ST,...,94 CONDOR ST,NaN,BOSTON,MA,02128,167991,42.383065,-71.037970,"(42.38306451209138, -71.03797006220091)",Building Violations
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21466,V53076,2009-12-03 10:01:21,Open,110.1,NaN,Inspections,225,NaN,Chelsea,ST,...,45 FALCON ST,NaN,EAST BOSTON,MA,02128,30417,42.375200,-71.032310,"(42.37519999956387, -71.03231000148325)",Building Violations
21467,V53078,2009-12-01 13:39:34,Open,110.1,NaN,Inspections,1670,NaN,Washington,ST,...,1670 WASHINGTON ST,NaN,BOSTON,MA,02118,144315,42.337380,-71.075270,"(42.337379999966906, -71.07527000149453)",Building Violations
21468,V53077,2009-12-01 13:18:47,Open,5110.1,NaN,Failure to secure permit,169,NaN,Cornell,ST,...,167 CORNELL ST,NaN,ROSLINDALE,MA,02131,42951,42.278718,-71.134019,"(42.27871800016492, -71.1340190008661)",Building Violations
21469,V81124,,Open,300.15,NaN,"Boxes, Where Required",83,,Tyler,ST,...,"Jimmy Tom, 83 Tyler St.",NaN,Boston,MA,02111,138849,42.349028,-71.061613,"(42.34902800003795, -71.06161300144284)",Building Violations
21470,V91983,,Closed,121.2,NaN,Unsafe and Dangerous,302,NaN,Sumner,ST,...,302 Sumner St,NaN,East Boston,MA,02128,132380,42.367679,-71.036580,"(42.36767900006634, -71.03658000138961)",Building Violations

In [4]:
build_violations.columns

Index(['case_no', 'status_dttm', 'status', 'code', 'value', 'description',
       'violation_stno', 'violation_sthigh', 'violation_street',
       'violation_suffix', 'violation_city', 'violation_state',
       'violation_zip', 'ward', 'contact_addr1', 'contact_addr2',
       'contact_city', 'contact_state', 'contact_zip', 'sam_id', 'latitude',
       'longitude', 'location', 'violation_type'],
      dtype='object')

In [5]:
#make an address column, make it upper case
build_violations['address'] = build_violations['violation_stno']+' '+build_violations['violation_street']+' '+build_violations['violation_suffix']
build_violations['address'] = build_violations['address'].astype(str)
build_violations['address'] = build_violations['address'].apply(lambda x: x.upper())

In [7]:
#import parcel data
parcels = pd.read_csv('datasets/parcel.csv')
print(parcels.columns)
parcels.head()

Index(['objectid', 'mapc_id', 'muni_id', 'muni', 'parloc_id', 'poly_typ',
       'map_num', 'mappar_id', 'loc_id_cnt', 'land_value', 'bldg_value',
       'othr_value', 'total_value', 'ls_price', 'ls_date', 'bldg_area',
       'res_area', 'luc_1', 'luc_2', 'luc_adj_1', 'luc_adj_2', 'num_units',
       'units_est', 'units_src', 'num_rooms', 'yr_built', 'site_addr',
       'addr_str', 'addr_num', 'addr_zip', 'owner_name', 'owner_addr',
       'owner_city', 'owner_stat', 'owner_zip', 'fy', 'lot_areaft', 'far',
       'pct_imperv', 'pct_bldg', 'pct_pave', 'landv_pac', 'bldgv_psf',
       'totv_pac', 'bldlnd_rat', 'sqm_imperv', 'sqm_bldg', 'sqm_pave',
       'realesttyp', 'temp', 'shape'],
      dtype='object')

,objectid,mapc_id,muni_id,muni,parloc_id,poly_typ,map_num,mappar_id,loc_id_cnt,land_value,...,landv_pac,bldgv_psf,totv_pac,bldlnd_rat,sqm_imperv,sqm_bldg,sqm_pave,realesttyp,temp,shape
0,1,1,1,Abington,M_243777_871159,FEE,2,2_5,1.0,100.0,...,3799.689208,-0.999900,3799.689208,0.000000,-0.999900,-0.999900,0.000000,0.0,NaN,3600000004000000080010006A6900001E000000010000...
1,2,2,1,Abington,M_247143_872556,FEE,17,17_23,1.0,196200.0,...,17866.780110,-0.999900,17866.780110,0.000000,-0.999900,-0.999900,0.000000,0.0,NaN,7C00000010000000080010006A690000A4010000010000...
2,3,3,1,Abington,M_247356_872533,FEE,18,18_5,1.0,149700.0,...,176835.192910,76.089109,544090.112587,2.076820,31.810949,13.312941,18.498008,0.0,NaN,7900000010000000080010006A690000A1010000010000...
3,4,4,1,Abington,M_245225_872369,FEE,15,15_103,1.0,164700.0,...,231127.015524,70.778509,593464.571130,1.567699,0.094107,-0.999900,0.000000,0.0,NaN,740000000F000000080010006A6900009C010000010000...
4,5,5,1,Abington,M_245207_872336,FEE,15,15_102,1.0,167500.0,...,237263.406756,52.696986,523962.591995,1.208358,301.967059,182.962820,119.004239,1.0,NaN,690000000D000000080010006A69000091010000010000...

In [8]:
#clean parcel data before merge
parcels.drop(['mapc_id', 'muni_id' ,'muni', 'parloc_id', 'poly_typ',
              'map_num', 'mappar_id', 'loc_id_cnt', 'land_value', 'bldg_value','othr_value','sqm_imperv',
              'sqm_bldg', 'sqm_pave','realesttyp', 'temp', 'shape', 'units_src', 'num_rooms', 'fy', 'lot_areaft', 'far', 
              'pct_imperv', 'pct_bldg', 'pct_pave', 'landv_pac', 'bldgv_psf','totv_pac', 'bldlnd_rat',
              'addr_str', 'addr_num', 'owner_stat', 'addr_zip', 'num_units', 'units_est', 'luc_1', 'luc_2'
              , 'luc_adj_1', 'luc_adj_2', 'objectid'], axis = 1, inplace = True)
parcels['ls_date'] = parcels['ls_date'].astype(str)
parcels['ls_date'] = parcels['ls_date'].apply(lambda x: (x[:4] + '/' + x[4:6] + '/' + x[6:9]))
parcels = parcels[~parcels['owner_zip'].isin([np.NaN])]
parcels = parcels[~parcels['site_addr'].isin([np.NaN])]
parcels = parcels[~parcels['owner_name'].isin([np.NaN])]
parcels = parcels[~parcels['owner_addr'].isin([np.NaN])]
parcels = parcels[~parcels['owner_city'].isin([np.NaN])]
parcels = parcels[~parcels['yr_built'].isin([np.NaN])]
parcels = parcels.rename(columns={'site_addr': 'address'})
parcels.shape

(1230804, 11)

In [9]:
merged_building_vio = pd.merge(build_violations, parcels, how='inner', on = 'address')
merged_building_vio.shape

(24075, 35)

In [10]:
merged_building_vio

,case_no,status_dttm,status,code,value,description,violation_stno,violation_sthigh,violation_street,violation_suffix,...,total_value,ls_price,ls_date,bldg_area,res_area,yr_built,owner_name,owner_addr,owner_city,owner_zip
0,V640594,2022-10-25 14:33:50,Open,105.1,NaN,Failure to Obtain Permit,266,NaN,Princeton,ST,...,471600.0,0.0,nan//,4532.0,3399.0,1900.0,FERRARA PATRICIA D,266 PRINCETON ST,EAST BOSTON,02128
1,V63719,2010-04-22 14:31:43,Closed,110.1,NaN,Inspections,266,NaN,Princeton,ST,...,471600.0,0.0,nan//,4532.0,3399.0,1900.0,FERRARA PATRICIA D,266 PRINCETON ST,EAST BOSTON,02128
2,V640286,2022-10-24 15:15:50,Open,105.1,NaN,Failure to Obtain Permit,85,NaN,Como,RD,...,333000.0,0.0,nan//,2232.0,1265.0,1950.0,DOGNAZZI JOSEPH E,85 COMO RD,HYDE PARK,02136
3,V624735,2022-10-24 10:00:29,Open,102.8,NaN,Maintenance,53,NaN,Telegraph,ST,...,684000.0,0.0,nan//,3356.0,2464.0,1880.0,OLEARY KEITH D,53 TELEGRAPH ST,SOUTH BOSTON,2127.0
4,V317005,2016-09-06 13:42:03,Closed,101.4.4,NaN,Maintenance,53,NaN,Telegraph,ST,...,684000.0,0.0,nan//,3356.0,2464.0,1880.0,OLEARY KEITH D,53 TELEGRAPH ST,SOUTH BOSTON,2127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24070,V53463,2009-12-04 10:13:49,Closed,110.1,NaN,Inspections,20,NaN,Becket,ST,...,368700.0,0.0,2016/04/08.,2480.0,1092.0,1920.0,MARSHALL THOMAS W,20 BECKET ST,QUINCY,02169
24071,V53463,2009-12-04 10:13:49,Closed,110.1,NaN,Inspections,20,NaN,Becket,ST,...,522400.0,0.0,nan//,5328.0,2964.0,1905.0,TZERAI G MICHAEL,20 BECKET ST,DORCHESTER,2124.0
24072,V53076,2009-12-03 10:01:21,Open,110.1,NaN,Inspections,225,NaN,Chelsea,ST,...,464500.0,0.0,nan//,4365.0,2915.0,1910.0,SANTOS EMERITA,225 CHELSEA ST,EAST BOSTON,02128
24073,V53078,2009-12-01 13:39:34,Open,110.1,NaN,Inspections,1670,NaN,Washington,ST,...,334300.0,275000.0,2000/06/28.,690.0,3480.0,1900.0,"WATSON, JAMES & KATHLEEN I",132 MIDDLESEX ST,MILLIS,02054
24074,V53078,2009-12-01 13:39:34,Open,110.1,NaN,Inspections,1670,NaN,Washington,ST,...,313900.0,50000.0,2003/08/04.,1946.0,0.0,1915.0,FITZPATRICK EDWARD A,1670 WASHINGTON ST,WALPOLE,02081

In [11]:
#convert to csv
merged_building_vio.to_csv("building_violations_cleaned.csv")